KERNEL=="event*", SUBSYSTEM=="input", SUBSYSTEMS=="input", ATTRS{name}=="Tim_Multiinterfacing_Device", ACTION=="add", RUN+="/bin/tim-multi-interfacing-device-m2j.sh"
